body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #002B49;
    color: white;
}

header{
    background-color: black;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mediaContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

#mask{
    position: absolute;
    width: 640px;
    height: 384px;
}

#videoContainer{
    margin-top: 20px;
}

#bloco1{
    width: 112px;
    height: 384px;
    background: rgba(255, 0, 0, 0.534);
}
#bloco2{
    position: absolute;
    width: 160px;
    height: 384px;
    left: calc(112px);
    top: 0;
    background: rgba(0, 128, 0, 0.588);
}

#bloco3{
    position: absolute;
    height: 384px;
    width: 160px;
    left: calc(272px);
    top: 0;
    background: rgba(255, 0, 0, 0.534);
}

#bloco4{
    position: absolute;
    height: 384px;
    width: 160px;
    left: calc(432px);
    top: 0;
    background: rgba(0, 128, 0, 0.588);
}

#bloco5{
    position: absolute;
    height: 384px;
    width: 48px;
    left: calc(592px);
    top: 0;
    background: rgba(255, 0, 0, 0.534);
}

#plantaContainer{
    position: absolute;
    left: 10px;
    top: 85px;
}

#imagemPlanta{
    position: relative;
    width: 200px;
}
#imagemPlantaClose{
    font-weight: bold;
    transform: rotate(45deg);
    position: absolute;
    font-size: 30px;
    top: -10px;
    padding: 10px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    width: 100%;
    font-size: 12px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

