
#mediaContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

#videoContainer {
    margin-top: 20px;
}

#mask {
    position: absolute;
    width: 1174px;
    height: 587px;
    display: flex;
    overflow: hidden;
}

#videoPreview{
    z-index: 999;
    width: 320px;
    height: 40px;
}

/* Estilos para layout das faixas */
#mediaContainer {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 36px;
    overflow: hidden;
}

.mediaSection {
    width: 24%; /* Cada faixa ocupa um quarto da largura */
    overflow: hidden;
    background: rgb(0, 251, 255);
}

#media2{ margin-top: -36px; }
#media3{ margin-top: -72px; }
#media4{ margin-top: -108px; }

video, img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
