

#mediaContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

#mask{
    position: absolute;
    width: 1176px;
    height: 216px;
}

#videoContainer{
    margin-top: 20px;
}

#esquerda{
    width: 480px;
    height: 216px;
    background: rgba(255, 0, 0, 0.308);
}

#curva{
    position: absolute;
    width: 26.66px;
    height: 216px;
    left: 480px;
    top: 0;
    background: rgba(0, 0, 255, 0.385);
}

#direita{
    position: absolute;
    width: 669.33px;
    height: 216px;
    left: calc(480px + 26.66px);
    top: 0;
    background: rgba(0, 128, 0, 0.397);
}
